
h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

use{
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
}


.contanier{
    width: 1200px;
    margin: 0 auto;
}

.nav-menu-left{
    display: flex;
    width: 520px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

.nav-menu-right {
    align-items: center;
    width: 333px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.icon-contact {
    fill: #757575;
    margin-right: 10px;
}

.contact-link:hover .icon-contact,
.contact-link:focus .icon-contact {
    fill: #2196F3;
}

.header-contanier{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link{
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;


}

.web{
    color: #2196F3;
}

.nav-list-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    width: 281px;
}


.nav-list a {
    text-decoration: none;
    color: #212121;
}

.nav-list a:hover {
    color: #2196F3;
}


.contact-link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}

.contact-link:hover,.contact-link:focus {
    color: #2196F3;
}

.hero {
    background-color: #2F303A;
    padding: 200px 0;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Image/Img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-btn {
    margin: 0 auto;    
    display: block;
    width: 216px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);/*тінь за кнопкою*/
    border-radius: 4px;/*рамка*/
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    
}

.features{
    width: 1200px;
    margin: 0 auto;
}

.features-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 94px 0px 0px 0px;
}

.features-subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.features-paragraf {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px 30px 0px 0px;
}

.electricity{
    margin: 94px auto;
}

.electricity-parag{
    text-align: center;
    margin: 0px 0px 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

}

.electricity-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.electricity-img {
    width: 370px;
    height: 294px;
}

.electricity-img:nth-child(-n+2){
    margin-right: 30px;
}

.people{
    background-color: #F5F4FA;
    padding: 94px;
}

.people-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin: 0px 0px 50px;
}

.people-cards{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.people-cards:nth-child(-n+3){
    margin-right: 30px;
}

.people-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.people-photo {
    background: #FFFFFF;
    width: 270px;
    height: 260px;
}

.people-name {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 30px 0px 10px;
}

.icons-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 16px auto 30px;
    padding: 0px;
}

.features-list-item:nth-child(-n+3) {
    margin: 0 30px 0 0;
}

.features-cart {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    padding: 25px 0;
    margin-bottom: 30px;
}

.features-cart-icon {
    display: block;
    margin: 0 auto;
}


.people-icons{
    fill: #AFB1B8;
}

.icon-list-item:hover .people-icons{
    fill: #FFFFFF;
}

.icon-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.icon-list-item:hover, .icon-list-item:focus{
    border-radius: 50%;
    background-color: #2196F3;
}

.people-work {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
    padding: 60px 0;
    background-color: #2F303A;
    height: 252px;
}

.footer-content{
    display: flex;
}

.footer-contact{
    padding-bottom: 60px;
    margin-right: 70px;
}

.footer-contact-list{
    list-style: none;
    padding: 0;
}

.footer-contact-list a{
    text-decoration: none;  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-parag{
    width: 231px;
    height: 21px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: #FFFFFF;
}

.footer-cont{
    width: 231px;
    height: 21px;
}

.footer-cont:first-child{
    margin: 9px 0px;
}

.footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
}


.clients{
    padding: 94px 0;
}

.clients-title{
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    justify-content: space-between;
}

.clients-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

.clients-icon{
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}

.clients-list-item:hover .clients-icon{
    fill: #2196F3;
}

.clients-list-item:hover{
    border-color: #2196F3;
}

.footer-links{
    padding: 12px 0 0;
}

.footer-title{
    margin-bottom: 20px;
    color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}

.footer-list-links{
    display: flex;
    justify-content: space-between;
}

.footer-list-item{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list-item:nth-child(-n+3){
    margin-right: 10px;
}

.link-footer-icon{
    width: 20px;
    height: 20px;
}

.footer-list-item:hover, .footer-list-item:focus{
    background-color: #2196F3;
}

.footer-svg{
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}