h2,p,ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contanier {
    width: 1200px;
    margin: 0 auto;
}

.nav-menu-left {
    display: flex;
    width: 520px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

.nav-menu-right {
    align-items: center;
    width: 333px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.icon-contact {
    fill: #757575;
    margin-right: 10px;
}

.contact-link:hover .icon-contact,
.contact-link:focus .icon-contact {
    fill: #2196F3;
}

.header{
    border-bottom: 1px solid #ECECEC;
}

.header-contanier {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
}

.web {
    color: #2196F3;
}

.nav-list-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    width: 281px;
}

.nav-list-link {
    position: relative;
    color: #212121;
}

.nav-list-link:hover::after {
    content: "";
    display: block;
    background-color: #2196F3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 45px;
}

.nav-list-link:hover {
    color: #2196F3;
}

.contact-link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
    color: #2196F3;
}

.main-section-bth{
    margin: 94px 0px 50px;
}

.main-list-bth{
    list-style: none;
    display: flex;
    justify-content: center;
}


.main-button-item{
    padding: 0 25px;
    height: 38px;
    border-radius: 4px;
    background: #F5F4FA;
    border: #F5F5F5;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    margin: 0px 8px 0px 0px;
}


.main-button-item:hover,.main-button-item:focus{
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s ease-in;
}

.thumb{
    width: 370px;
    height: 294px;
}

.main-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 20px 24px 0;
}

.main-parag{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    width: 322px;
    height: 30px;
    color: #757575;
    margin: 0px 24px 20px;
}

.main-section-cards{
    width: 1170px;
    height: 1290px;
    margin: 0 auto ;
    padding: 0px 170px;
}

.list-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    background: #FFFFFF;
    list-style: none;
}

.main-list-item{
    border: 1px solid #EEEEEE;
    position: relative;
    overflow: hidden;
}

.main-list-item:nth-child(-n+6){
    margin-bottom: 30px;
}

.footer {
    padding: 60px 0 0;
    background-color: #2F303A;
    height: 252px;
    margin-top: 94px;
}

.footer-content {
    display: flex;
}

.footer-contact {
    padding-bottom: 60px;
    margin-right: 70px;
}

.footer-contact-list {
    list-style: none;
    padding: 0;
}

.footer-contact-list a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-parag {
    width: 231px;
    height: 21px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-cont {
    width: 231px;
    height: 21px;
}

.footer-cont:first-child {
    margin: 9px 0px;
}

.footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
}

.footer-links {
    padding: 12px 0 0;
}

.footer-title {
    margin: 0 0 20px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-list-links {
    display: flex;
    justify-content: space-between;
}

.footer-list-item {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list-item:nth-child(-n+3) {
    margin-right: 10px;
}

.link-footer-icon {
    width: 20px;
    height: 20px;
}

.footer-list-item:hover,
.footer-list-item:focus {
    background-color: #2196F3;
    transition: 0.3s ease-in;
}

.footer-svg {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.footer-label {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-email {
    width: 358px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    padding: 15px 0 15px 16px;
    margin-top: 20px;

}

.subscribe-bth {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding: 0 28px 0 28px;
}

.footer-form {
    display: flex;
    align-items: flex-end;
}

.subscribe-svg {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.subscribe-list {
    display: flex;
}

.subscribe {
    padding-top: 12px;
    width: 570px;
    margin-left: 93px;
}

.box-text{
    color: #FFF;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.54px;
        margin: 0;
}

.overlay{
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.90);
    transform: translatey(-101%);
    position: absolute;
    top: 0;
    transition: transform 1s ease;
    width: 322px;

}

.main-list-item:hover .overlay{
    transform: translatey(0);
}