
h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

use{
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
}


.contanier{
    width: 1200px;
    margin: 0 auto;
}

.nav-menu-left{
    display: flex;
    width: 520px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

.nav-menu-right {
    align-items: center;
    width: 333px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.icon-contact {
    fill: #757575;
    margin-right: 10px;
}

.contact-link:hover .icon-contact,
.contact-link:focus .icon-contact {
    fill: #2196F3;
}

.header-contanier{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link{
    width: 145px;
    height: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;


}

.web{
    color: #2196F3;
}

.nav-list-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    position: relative;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    width: 281px;
}

.nav-list-link{
    position: relative;
    color: #212121;
}

.nav-list-link:hover::after{
    width: 100%;
    transition: 0.2s ease;
}

.nav-list-link:after{
    content: "";
    display: block;
    background-color: #2196F3;
    width: 0;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 45px;
}

.nav-list-link:hover{
    color: #2196F3;
    transition: 0.2s ease;
}



.contact-link {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}

.contact-link:hover,.contact-link:focus {
    color: #2196F3;
    transition: 0.2s ease;
}

.hero {
    background-color: #2F303A;
    padding: 200px 0;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Image/Img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-btn {
    margin: 0 auto;    
    display: block;
    width: 216px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);/*тінь за кнопкою*/
    border-radius: 4px;/*рамка*/
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    
}

.features{
    width: 1200px;
    margin: 0 auto;
}

.features-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 94px 0px 0px 0px;
}

.features-subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.features-paragraf {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px 30px 0px 0px;
}

.electricity{
    margin: 94px auto;
}

.electricity-parag{
    text-align: center;
    margin: 0px 0px 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

}

.electricity-list {
    display: flex;
    margin: 0 auto;
}

.thumb {
    width: 370px;
    height: 294px;
    position: relative;
}

.electricity-img{
    object-position: 100%;
}

.electricity-list-item:nth-child(-n+2){
    margin-right: 30px;
}

.label {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    text-align: center;
    padding-top: 27px;
    background: rgba(47, 48, 58, 0.80);
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    animation: labelshadow 1s ease-in 500ms infinite alternate;
}

/* .label:hover{
    
} */

@keyframes labelshadow{
    0%{
        box-shadow: 1px 3px 18px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 1px 3px 18px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 3px 18px 0px rgba(0, 0, 0, 0.75);

    }

    100%{
        box-shadow: 1px 3px 37px 16px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 1px 3px 37px 16px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 3px 37px 16px rgba(0, 0, 0, 0.75);
    }
}

.people{
    background-color: #F5F4FA;
    padding: 94px;
}

.people-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin: 0px 0px 50px;
}

.people-cards{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.people-cards:nth-child(-n+3){
    margin-right: 30px;
}

.people-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.people-photo {
    background: #FFFFFF;
    width: 270px;
    height: 260px;
}

.people-name {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 30px 0px 10px;
}

.icons-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    margin: 16px auto 30px;
    padding: 0px;
}

.features-list-item:nth-child(-n+3) {
    margin: 0 30px 0 0;
}

.features-cart {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    padding: 25px 0;
    margin-bottom: 30px;
}

.features-cart-icon {
    display: block;
    margin: 0 auto;
}


.people-icons{
    fill: #AFB1B8;
}

.icon-list-item:hover .people-icons{
    fill: #FFFFFF;
}

.icon-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}

.icon-list-item:hover, .icon-list-item:focus{
    border-radius: 50%;
    background-color: #2196F3;
    transition: background-color 0.2s ease-in;
    box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.56);
        -webkit-box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.56);
    transition: box-shadow 0.2s ease-in;
    
}

.people-work {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
    padding: 60px 0;
    background-color: #2F303A;
    height: 252px;
}

.footer-content{
    display: flex;
}

.footer-contact{
    padding-bottom: 60px;
    margin-right: 70px;
}

.footer-contact-list{
    list-style: none;
    padding: 0;
}

.footer-contact-list a{
    text-decoration: none;  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-parag{
    width: 231px;
    height: 21px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: #FFFFFF;
}

.footer-cont{
    width: 231px;
    height: 21px;
}

.footer-cont:first-child{
    margin: 9px 0px;
}

.footer-logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
}


.clients{
    padding: 94px 0;
}

.clients-title{
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    justify-content: space-between;
}

.clients-list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

.clients-icon{
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}

.clients-list-item:hover .clients-icon{
    fill: #2196F3;
    transition: fill 0.3s ease-in;
}

.clients-list-item:hover{
    border-color: #2196F3;
    transition: border-color 0.3s ease-in;
    box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.56);
        -webkit-box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.56);
}

.footer-links{
    padding: 12px 0 0;
}

.footer-title{
    margin-bottom: 20px;
    color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}

.footer-list-links{
    display: flex;
    justify-content: space-between;
}

.footer-list-item{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-list-item:nth-child(-n+3){
    margin-right: 10px;
}

.link-footer-icon{
    width: 20px;
    height: 20px;
}

.footer-list-item:hover, .footer-list-item:focus{
    background-color: #2196F3;
    transition: 0.3s ease-in;
}

.footer-svg{
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.modal {
    padding: 40px;
    width: 528px;
    height: 623px;
    top: 100px;
    left: 495px;
    position: fixed;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    z-index: 100;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-label {
    display: flex;
    flex-direction: column;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    position: relative;
}

.modal-input {
    margin-bottom: 10px;
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    margin-top: 4px;
    outline: none;
    padding: 11px 0 11px 42px;
    cursor: pointer;
}

.modal-input:focus + .modal-svg{
    fill: #2196F3;
}

.modal-input:hover+.modal-svg {
    fill: #2196F3;
}

.modal-input:focus, .modal-input:hover {
    border-color: #2196F3;
}

.modal-bth-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
}

.close-svg{
    width: 18px;
    height: 18px;
    padding: 4px; 
}
.close-svg:hover, .close-svg:focus{
    fill: #2196F3;
}

.is-visible {
    display: block !important;
}

.modal-textarea{
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    resize: none;
    padding: 12px 16px;
    margin-top: 4px
}

.modal-text{
    margin: 20px 6px 30px 6px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.modal-checkbox{
    margin-right: 7px;
    width: 16px;
    height: 15px;
}

.modal-textarea::placeholder{
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}

.modal-title{
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.modal-bth-submit{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0;
    background: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    margin: 0 120px 0;
    cursor: pointer;
}

.modal-svg{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 28px;
    left: 12px;
}

.modal-link{
    color: #2196F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.footer-label{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-email{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    padding: 15px 0 15px 16px;
    margin-top: 20px;

}

.subscribe-bth{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    padding: 0 28px 0 28px;
}

.footer-form{
    display: flex;
    align-items: flex-end;
}

.subscribe-svg{
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.subscribe-list{
    display: flex; 
}

.subscribe{
    padding-top: 12px;
    width: 570px;
    margin-left: 93px;
}